html, body {
	height: 100%;
}

body {
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

#shell {
	position: relative;
	width: 100%;
	height: 100%;
}

#actionBar {
	height: 36px;
	border-bottom: 1px solid black;
	background-color: #efefef;
}

#mapContainer {
	position: absolute;
	left: 0px;
	top: 37px;
	right: 0px;
	bottom: 0px;
	background-color: #777777;
}

#map {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Zoom controls */
#zoomControl {
	position: absolute;
	top: 72px;
	right: 5px;
}

#zoomControl .zoomIn {
	background-image: url(zoomin.png);
	width: 40px;
	height: 40px;
}

#zoomControl .zoomOut {
	background-image: url(zoomout.png);
	width: 40px;
	height: 40px;
}

svg.errorHalo ellipse {
	fill-opacity: 0.3;
	stroke-opacity: 0.7;
	fill: #03a;
	stroke: #00f;
}

/* Map copyright */
#mapcopy {
	z-index: 50;
	position: absolute;
	right: 2px; bottom: 2px;
	text-align: right;
	white-space: nobreak;
	font-family: sans-serif;
	font-size: 10px;
	line-height: 12px;
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor: default;
}
#mapcopy a:visited {
	color: #00f;
}
