function startHead() {
	var name=thisPath().match(/([^\/]+)\.html$/)[1];
	
	
	write('<!DOCTYPE html>\n');
	write('<html>\n<head>\n');
	write('<title>nanomaps test page - ');
	write(name);
	write('</title>\n');
	write('<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />\n');
	write('<script src="../lib/nanomaps.bundle.all.js"></script>');
	write('<script src="pageundertest.js"></script>\n');
	write('<link rel="stylesheet" href="pageundertest.css" />\n');
}

function startBody() {
	write('\n</head>\n');
	write('\n<body>\n');
}

function writeMap() {
	write('\t<div id="testMap" style="display:none">\n');
	writeCopyright();
	write('\t</div>\n');
}

function writeCopyright() {
	include('copyright.html');
}

function endBody() {
	write('\n<script>\n');
	write('\t_bootPage();\n');
	write('</script>\n');
	write('</body>\n</html>');
}
